@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>

<div class="container ">

    <form class="" method="post">
        <div class=" form-group">
            <label class="  col-md-2 text-right" for="txtName">客戶姓名:</label>
            <input class="form-control  col-md-4 " type="text" id="txtName" name="txtName" alt="查詢姓名" maxlength="10" />
        </div>
        <div class=" form-group">
            <label class=" col-md-2 text-right " for="txtCompanyName">公司名稱:</label>
            <input class="form-control col-md-4 " id="txtCompanyName" name="txtCompayName" type="text" placeholder="請輸入公司名稱" />
        </div>
    </form>
</div>